@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}
body {
    background-image:linear-gradient(to right, #03055ec9,#0076b6fa)
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #4ca9db;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #0077B6;
text-align: center;
text-shadow: 1px 1px 2px #90E0EF;
}
h2{
color:#90E0EF;

}


p {
    text-align: justify;
}
